.title {
  margin-top: 3%;
  font-size: 30px;
  padding-inline: 5%;
}

.dashboard-container {
  overflow-y: auto;
  margin: 0 1%;
  box-shadow: 0 0 5px -2px grey;
}

.funds {
  margin-top: 2%;
}

.funds-subtitle {
  font-size: 25px;
}

.dashboard-contents {
  width: 90%;
  margin: auto;

  display: flex;
  column-gap: 10px;
  row-gap: 25px;
  flex-direction: column;
}

.tables {
  border-collapse: collapse;
  margin-top: 3%;
}

.avl-bal-name {
  display: inline-block;
  margin-top: 1.5%;
}

.btn {
  width: 80px;
  height: 30px;
  border: none;
  margin-bottom: 1%;
  margin-top: 1.1%;
  cursor: pointer;
}

#withdraw-btn {
  margin-left: 1%;
}
