
    .background-radial-gradient {
      background-color: black;
    }


    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  
    .circle {
      width: 100px;
      height: 100px;
      background-color: rgb(17, 17, 210);
      background-color: rgb(17, 17, 210);
      border-radius: 50%; /* Makes the shape a circle */
      display: inline-block; /* Allows multiple circles to be in a row */
      margin: 10px; /* Adds spacing between circles */
    }
    
    